@font-face {
  font-family: "Roboto Light";
  src: url("./fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("./fonts/roboto/Roboto-Medium.ttf");
}

.subContainer {
  width: calc(100% - 160px);
  margin-left: 80px;
  margin-right: 80px;
  position: relative;
  box-sizing: border-box;
}

.container {
  display: block;
  width: 100%;
}

.header {
  display: block;
  width: 100%;
  height: 130px;
}

.logoImageParent {
  float: left;
  display: inline-block;
  position: relative;
  width: 30%;
  height: 100%;
}

.logoImg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50px;
}

.logoText {
  font-family: "Roboto Light", sans-serif;
  text-align: right;
  font-size: 48px;
  float: right;
  width: 70%;
  line-height: 130px;
  display: inline-block;
  color: #231f20;
}

.durationFilterContainer {
  height: 50px;
  background-color: #ffffff;
}

.durationMenus {
  margin: 0;
  padding: 0;
}

.durationMenus .durationMenu {
  list-style-type: none;
  display: inline-block;
  width: 150px;
  text-align: center;
  float: left;
}

.durationMenus .durationMenu.width {
  width: 50%;
}

.durationMenus .durationMenu span {
  cursor: pointer;
  line-height: 50px;
  color: #2c3e50;
  font-size: 14px;
  font-family: "Roboto Medium", sans-serif;
  opacity: 0.5;
}

.activeDurationFilter {
  border-bottom: 2px solid #2196f3;
}

.durationMenus .durationMenu.activeDurationFilter span {
  color: #2196f3;
}

.verticalFilterDropDown {
  outline: 0;
  border: 0;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto Medium", sans-serif;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  position: absolute;
  -moz-padding-start: 2px;
  background: no-repeat center right;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #2c3e50;
  padding-left: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.subFilterContainer {
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
}

.verticalFilterContainer {
  width: calc(80% - 40px);
  position: relative;
  height: 50px;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 40px;
}

.topBottomFilterContainer {
  display: inline-block;
  width: 20%;
  position: relative;
  height: 50px;
  background-color: #ffffff;
}

.salesOverviewContainer {
  width: 100%;
  height: 720px;
  box-sizing: border-box;
  margin-top: 40px;
}

.informationFunnelContainer {
  display: inline-block;
  width: 48%;
  height: 100%;
  position: relative;
}

.funnel {
  position: absolute;
  width: 100%;
  height: 100%;
}

.funnelInformation {
  position: absolute;
  width: 100%;
  height: 100%;
}

.funnelSection {
  position: relative;
  text-align: center;
  height: 110px;
  width: 100%;
}

.funnelInformationWrapper {
  position: absolute;
  top: 20px;
  height: 100px;
  width: 100%;
}

.funnelSection .title {
  display: block;
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.funnelSection .fieldValue {
  display: block;
  font-family: "Roboto Bold", sans-serif;
  font-size: 48px;
  color: #ffffff;
}

.funnelSection .titleBold {
  display: block;
  font-family: "Roboto Bold", sans-serif;
  font-size: 48px;
  color: #ffffff;
}

.callWinsRevenueContainer {
  display: inline-block;
  width: 25%;
  height: 100%;
  float: right;
}

.funnelAndWinsWrapper {
  width: calc(80% - 40px);
  height: 100%;
  margin-right: 40px;
  display: inline-block;
}

.salesTopperContainer {
  float: right;
  display: inline-block;
  width: 20%;
  height: 100%;
}

.cardInformationItem {
  height: 220px;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.cardInformationItemContainer {
  height: 40%;
}

.paddingCardItem {
  padding-left: 30px;
  padding-top: 30px;
}

.cardInformationItemContainer span.title {
  display: block;
  padding-right: 30px;
  text-align: right;
  font-size: 18px;
  font-family: "Roboto Medium", sans-serif;
  color: #2c3e50;
}

.cardInformationItemContainer span.fieldValue {
  display: block;
  padding-right: 30px;
  padding-left: 30px;
  text-align: right;
  font-size: 48px;
  font-family: "Roboto Bold", sans-serif;
  color: #2196f3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardInformationItemForMan {
  width: 100%;
  position: relative;
  height: 220px;
  background-color: #1976d2;
  margin-bottom: 40px;
}

.cardWithManInBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./assets/winner.png") no-repeat center;
}

.tableInformationContainer {
  box-sizing: border-box;
  margin-top: 40px;
  overflow-x: auto;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.tableHeader {
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
  color: #231f20;
  padding-left: 40px;
  top: 10px;
  position: relative;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #e4e8ec;
  border-top: 1px solid #e4e8ec;
  text-align: left;
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
  color: #231f20;
  padding: 20px 40px;
}

th {
  padding: 20px 40px;
  text-align: left;
  color: #231f20;
  font-size: 12px;
  font-family: "Roboto Medium", sans-serif;
}

tr:nth-child(even) {
  background-color: #f8f9fb;
}
.noRecordFound td {
  padding: 20px 40px;
  margin: 0;
  border: 0;
  font-family: "Roboto Regular", sans-serif;
  color: #dc3545;
}
tr.wonItem {
  border-top: 1px solid #e6f5e6;
  border-bottom: 1px solid #e6f5e6;
  background-color: #dffbdf7a;
}

tr.loseItem {
  border-top: 1px solid #fff2f2;
  border-bottom: 1px solid #fff2f2;
  background-color: #ffe8e838;
}

.cardWithManInBackgroundItem {
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cardWithManName {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  display: block;
  font-family: "Roboto Regular", sans-serif;
  font-size: 24px;
}

.cardWithManContainer {
  width: 100%;
  box-sizing: border-box;
}

.cardWithManLabel {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  width: 50%;
  display: inline-block;
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
  vertical-align: middle;
}

.cardWithManValue {
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  width: 50%;
  display: inline-block;
  font-family: "Roboto Bold", sans-serif;
  font-size: 48px;
  vertical-align: middle;
}

/* css for spinner */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #414ad6;
  border-color: #414ad6 transparent #414ad6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.noRecordFound td.colorWarning,
.colorWarning {
  color: #721c24;
}
@media (min-width: 991px) and (max-width: 1800px) {
  .informationFunnelContainer {
    width: 60%;
  }
}
